{% load blog_extras %}
<div class="post">
    <img src="{{ photo.image.url }}">
    <p>{{ photo.caption }}</p>
    <p><strong>Prise par {% get_poster_display photo.uploader %}</strong></p>
    <p>{{ photo.date_created|get_posted_at_display }}</p>

    {% if photo.categorie %}
        <p>Catégorie : {{ photo.categorie.name }}</p>
    {% endif %}

    {% if user == photo.uploader %}
        <a href="{% url 'edit_photo' photo.id %}">Modifier</a>
        <a href="{% url 'delete_photo' photo.id %}">Supprimer</a>
    {% else %}
        <a href="{{ photo.image.url }}" download>Télécharger</a>
    {% endif %}

    <a href="{% url 'view_photo' photo.id %}">Voir la photo</a>
</div>
