html {
    font-family: Arial;
}



.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, #3e5f64, #ff6f61, #cbbf65);
    color: #ffffff;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


.sidebar a {
    text-decoration: none;
    color:  #ffffff;
    display: block;
}


.sidebar a:hover {
    color: #50b8d8;
}


.main {
    margin-left: 240px; 
    padding: 20px;
}

.avatar {
    width: 80%;
    border-radius: 10%;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    text-align: center;
}

.post img {
    width: 80%;
    border-radius: 5px;
}

/* Style de la barre de navigation */
.navbar {
    background-color: #7fd1ca;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: rgb(4, 4, 4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}


.follow-container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Titre */
.follow-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style du formulaire */
.follow-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Champs du formulaire */
.follow-container form p {
    width: 100%;
    margin-bottom: 15px;
}

.follow-container input,
.follow-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Bouton */
.follow-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.follow-container button:hover {
    background-color: #0056b3;
}