{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}
  <h2>Votre flux</h2>

  <div class="row g-3">  {# Grille Bootstrap avec espacement #}
    {% for instance in page_obj %}
      <div class="col-md-4">
        {% if instance|model_type == 'Blog' %}
          {% include 'blog/partials/blog_snippet.html' with blog=instance %}
        {% elif instance|model_type == 'Photo' %}
          {% include 'blog/partials/photo_snippet.html' with photo=instance %}
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% include 'blog/partials/pagination.html' %}
{% endblock content %}
